.labelTischordnung{
	font-size: xx-large;
}

/*label {
    font-size: xx-large;
}

body > vaadin-horizontal-layout:nth-child(3) > vaadin-vertical-layout:nth-child(2) > label:nth-child(3) {
 font-size: xxx-large;
}*/

